:root{
    --left-width:128px;
    --right-width:128px;
    --dark-grey:#C0C0C0;
    --light-grey:#E0E0E0;
}
body{
    /*background:linear-gradient(to right,var(--dark-grey) 0,var(--dark-grey) var(--left-width),
                var(--light-grey) var(--left-width),var(--light-grey) calc(100% - var(--right-width)),
                var(--dark-grey) calc(100% - var(--right-width)),var(--dark-grey) 100%);*/
    background:linear-gradient(to right,var(--dark-grey) 0,var(--dark-grey) 8.4%,
    var(--light-grey) 8.4%,var(--light-grey) 91.6%,
    var(--dark-grey) 91.6%,var(--dark-grey) 100%);
    padding:20px;
    color:#000000;
}
h1{
    text-align:center;
}
img{
    max-width:100%;
}
.code-text{
    margin:0;
    padding:0;
    border-radius:5px;
    background:#25292f;
    color:#fff;
    white-space:pre-wrap;
}
.copy-btn {
    color:white;
    padding:5px 10px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
.screenShot{
    text-align:center;
}
.rank1{
    margin-left:8.4%;
    margin-right:8.4%;
}